/* MENU BUTTON */
  button {
    border: none;
    width: 200px;
    padding: 20px 40px;
    background: black;
    box-shadow: inset 1px -1px 0 1px white;
    position: relative;
    -webkit-transform: translateX(10px) translateY(-10px);
            transform: translateX(10px) translateY(-10px);
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    outline: none;
    color: white;
    font-family: 'MuseoModerno', cursive;
    letter-spacing: 3px;
  }
  button:after, button:before {
    content: ' ';
    position: absolute;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  button:after {
    left: -5px;
    top: 100%;
    height: 10px;
    width: 100%;
    -webkit-transform: skewX(-45deg);
            transform: skewX(-45deg);
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(50%, #000000), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 20%, #000000 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0));
    background-size: 12px 1px;
    background-position: 3px;
  }
  button:before {
    top: 5px;
    right: 100%;
    height: 100%;
    width: 10px;
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(50%, #000000), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 20%, #000000 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0));
    background-size: 1px 12px;
    background-position: right;
  }
  button:active {
    position: relative;
    -webkit-transform: translateX(3px) translateY(-3px);
            transform: translateX(3px) translateY(-3px);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  button:active:after, button:active:before {
    content: ' ';
    position: absolute;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  button:active:after {
    left: -1.5px;
    top: 100%;
    height: 3px;
    width: 100%;
    -webkit-transform: skewX(-45deg);
            transform: skewX(-45deg);
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(50%, #000000), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 20%, #000000 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0));
    background-size: 12px 1px;
    background-position: 3px;
  }
  button:active:before {
    top: 1.5px;
    right: 100%;
    height: 100%;
    width: 3px;
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(50%, #000000), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 20%, #000000 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0));
    background-size: 1px 12px;
    background-position: right;
  }


  /* SWITCH BUTTON */

  .switch {
    position: absolute;
    top: 80px;
    right: 185px;
    width: 120px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -75px;
    background: black;
    transition: all 0.2s ease;
    border-radius: 25px;
  }
  /* .switch span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
  }
  .switch span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
  } */
  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: white;
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
    font-family: 'MuseoModerno', cursive;
  }
  label[for=yes] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for=no] {
    position: absolute;
    right: 0px;
  }
  #no:checked ~ .switch {
    background: black;
  }
  #no:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #no:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yes:checked ~ .switch label[for=yes] {
    color: gold;
  }
  #no:checked ~ .switch label[for=no] {
    color: gold;
  }

